<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.buy.mapper.BuyMapper">
	<select id="selectBuyList" resultType="buy">
		select * from buy
	</select>
	<insert id="insertBuy" parameterType="int">
		insert into Buy(BUY_ID, USER_ID, SELL_ID, PDT_ID, SIZE_ID, BUY_PRICE, BUY_FINCOST, BUY_POINT, BUY_PAY) 
		values(buy_id_seq.nextval, #{userId}, #{sellId}, #{pdtId}, #{sizeId}, #{buyPrice}, #{buyFincost}, #{buyPoint}, '결제완료')
	</insert>
	<select id="selectBuyPrice">
		select * 
		from (select * from buy
      		where pdt_id=#{pdtId} and size_id=#{sizeId} and sell_id is null and buy_dlvy='구매입찰중'
      		order by buy_price, buy_date)
		where rownum=1
	</select>
	<select id="selectBuy">
		select * from buy natural join product natural join product_size natural join brand
		where buy_id=#{buyId}
	</select>
</mapper>