<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.user.mapper.UserMapper">

<!-- 로그인 -->
<select id="loginCheck" parameterType="com.yedam.user.domain.UserVO" resultType="com.yedam.user.domain.UserVO">
    SELECT * FROM users WHERE user_Id=#{userId} AND user_Pw=#{userPw}
</select>

<!-- addMember -->
<insert id="addUser" parameterType="com.yedam.user.domain.UserVO">
    INSERT INTO users (user_id, user_pw, user_nm, user_phone, user_add) 
    VALUES (#{userId}, #{userPw}, #{userNm}, #{userPh}, #{userAddr})
</insert>

<!-- 이메일 중복체크(회원가입) -->
<select id="checkEmail" resultType="int">
    SELECT COUNT(*) FROM users WHERE user_id = #{userId}
</select>

<!-- 마이페이지 비밀번호 체크 -->
<select id="checkPassword" parameterType="com.yedam.user.domain.UserVO" resultType="com.yedam.user.domain.UserVO">
    SELECT * FROM users WHERE user_Id=#{userId} AND user_Pw=#{userPw}
</select>

<!-- 회원탈퇴 -->
<delete id="deleteUser" parameterType="com.yedam.user.domain.UserVO">
    DELETE FROM users WHERE user_id=#{userId}
</delete>

<!-- 회원정보 수정 -->
<update id="modifyUser" parameterType="com.yedam.user.domain.UserVO">
    UPDATE users
    SET user_pw=#{userPw}, user_phone=#{userPh}, useradd=#{userAddr}, user_nm=#{userNm}
    WHERE user_id=#{userId}
</update>

</mapper>