<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.size.mapper.SizeMapper">
	<select id="selectSizeList" resultType="size">
		select *
		from product_size
		where cat_id=#{catId}
	</select>
</mapper>