<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.qna.mapper.QnaMapper">
  <!-- QNA목록. -->
  <select id="qnaList" resultType="qna">
  	select * from qna_post order by 1 desc
  </select>
   
  <!-- QNA목록페이지. -->
  <select id="qnaWithPage" resultType="qna">
  	<![CDATA[
  	select b.* 
  	from(select rownum rn, a.*
       	 from (select * from qna_post
       	 		join users using(user_id)
             order by post_id desc) a
      	 where rownum <= #{page}*10 )b
  	where b.rn > (#{page} - 1) * 10
  	]]>
  </select>
  
  <!-- QNA추가. -->
  <insert id="insertQna" parameterType="qna">
  insert  into qna_post(post_id,user_id,post-title,post_ct,post_date,qna_img)
  	values(post_id_seq.nextval, #{userId}, #{postTitle}, #{postCT}, sysdate,#{postImg})
  </insert>
  
  <!-- QNA수정. -->
  <update id="updateQna" parameterType="qna">
  update qna_post
  	set	post_title=#{postTitle}
  		post_ct= #{postCT}
  where user_id= #{userId}
  </update>
  
  <!-- QNA상세조회. -->
  <select id="searchQna" resultType="qna" parameterType="int">
  	select *from qna_post join users using(user_id) where post_id=#{postId}
  </select>
  
  <!-- QNA 총 개수. -->
  <select id="getQnaCount" resultType="int">
  	select count(*) from qna_post
  </select>
  </mapper>
  