<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.sell.mapper.SellMapper">
	<select id="selectSellList">
		<![CDATA[
    	select b.*
    	from (select rownum rn, a.*
		      from (select *
					from sell 
					left outer join product pdt on sell.pdt_id = pdt.pdt_id
					left outer join product_size pdts on sell.size_id = pdts.size_id
					left outer join brand on pdt.brd_id= brand.brd_id
					where sell.user_id = #{userId}
					order by sell.sell_date desc) a
          	  where rownum <= #{page} * 10) b
    	where b.rn > (#{page}-1) * 10
    	]]>
	</select>
	<select id="getCountSellUser">
		select count(*) from sell where sell.user_id = #{userId}
	</select>
	<select id="searchSell">
		select *
		from sell natural join product natural join product_size natural join brand natural join deliver
		where sell.sell_id = #{sellId}
	</select>
	
	<select id="SellList">
		<![CDATA[
    	select b.*
    	from (select rownum rn, a.*
         	 from (select *
				   from sell 
				   left outer join product pdt on sell.pdt_id = pdt.pdt_id
				   left outer join product_size pdts on sell.size_id = pdts.size_id
  				   left outer join brand on pdt.brd_id= brand.brd_id
				   order by sell.sell_date desc) a
          	where rownum <= #{page} * 10) b
    	where b.rn > (#{page}-1) * 10
    	]]>
	</select>
	
	<select id="getCountSell">
		select count(*) from sell
	</select>
	
	<insert id="insertSell">
	  insert all
	  into deliver(dlv_id) values(dlv_seq.nextval)
	  into sell(sell_id, user_id, buy_id, pdt_id, size_id, sell_price, sell_dlvy, sell_account, dlv_id) 
	  values(sell_seq.nextval, #{userId}, #{buyId}, #{pdtId}, #{sizeId}, #{sellPrice}, '발송요청', #{sellAccount}, dlv_seq.currval) 
	  select * from dual
	</insert>
	<update id="setBuyId">
	  update buy set buy_dlvy='입고대기',sell_id=#{sellId} where buy_id=#{buyId}
	</update>
	
	<insert id="insertSellBid">
	  insert all
  	  into deliver(dlv_id) values(dlv_seq.nextval)
  	  into sell(sell_id, user_id, pdt_id, size_id, sell_price, sell_dlvy, sell_account, dlv_id) 
  	  values(sell_seq.nextval, #{userId}, #{pdtId}, #{sizeId}, #{sellPrice}, '판매입찰중', #{sellAccount}, dlv_seq.currval)
  	  select * from dual
	</insert>
	
	<update id="cancelSell">
	  update sell set sell_cancel = ${cancel} where sell_id=#{sellId}
	</update>
	
	<update id="updateAcct">
	  update sell set sell_account = #{sellAccount} where sell_id=#{sellId}
	</update>
	
	<update id="dlvySell">
	  update sell set sell_dlvy = ${sdlvy} where sell_id=#{sellId}
	</update>
	<update id="updateBuyState">
	  update buy set buy_dlvy= ${bdlvy} where sell_id=#{sellId}
	</update>
	
	<select id="selectSellPrice">
	  select * 
		from (select * from sell
      		where pdt_id=#{pdtId} and size_id=#{sizeId} and buy_id is null and sell_dlvy='판매입찰중'
      		order by sell_price, sell_date)
		where rownum=1
	</select>
</mapper>