<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.product.mapper.ProdMapper">
	<select id="prodList"> <!-- 상품리스트 -->
		<![CDATA[
		SELECT b.*
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT pdt.pdt_id, pdt.cat_id, pdt.subcat_id, pdt.brd_id, pdt.gender_id,
			  pdt.pdt_nm, pdt.pdt_price, pdt.pdt_img, pdt.pdt_views, brd.brd_nm
			  FROM product pdt
			  left outer join brand brd on pdt.brd_id = brd.brd_id
			  ORDER BY pdt.pdt_id desc) a
			  WHERE ROWNUM <= ${page} * 9) b
		WHERE b.rn > (${page} - 1) * 9
		]]>
	</select>
	
	<select id="prodList2">
		select * from product order by pdt_views desc
	</select>
	
	<select id="catList">
		select * from categories
	</select>

	<select id="subcatList">
		select * from sub_category
	</select>

	<select id="brdList">
		select * from brand
	</select>
	
	<select id="genderList">
		select * from gender
	</select>

	<insert id="insertProd" parameterType="product">
		insert into product
		(pdt_id, cat_id, subcat_id, pdt_nm, pdt_price, brd_id, gender_id, pdt_img)
		values(pdt_id_seq.nextval, #{catId}, #{subcatId}, #{pdtNm},
		#{pdtPrice}, #{brdId}, #{genderId}, #{pdtImg})
	</insert>

	<delete id="deleteProd" parameterType="int">
		delete from product where
		pdt_id=#{pdtId}
	</delete>

	<update id="updateProd" parameterType="product">
		update product set pdt_nm=#{pdtNm}, pdt_price=#{pdtPrice}, pdt_img=#{pdtImg} where pdt_id=#{pdtId}
	</update>

	<select id="searchProd">
		SELECT pdt.pdt_id, pdt.cat_id, pdt.subcat_id, pdt.brd_id, pdt.gender_id,
			  pdt.pdt_nm, pdt.pdt_price, pdt.pdt_img, pdt.pdt_views, brd.brd_nm,
			  cat.cat_nm, subcat.subcat_nm, gender.gender_nm
			  FROM product pdt
			  left outer join brand brd on pdt.brd_id = brd.brd_id
			  left outer join categories cat on pdt.cat_id = cat.cat_id
			  left outer join sub_category subcat on pdt.subcat_id = subcat.subcat_id
			  left outer join gender on pdt.gender_id = gender.gender_id
			  where pdt.pdt_id=#{pdtId}
	</select>

	<update id="updateViews" parameterType="int">
		update product set
		pdt_views=pdt_views+1 where pdt_id=#{pdtId}
	</update>

	<select id="getViews" resultType="int">
		select count(*) from product
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from product where cat_id=#{catId}
	</select>


</mapper>