<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.product.mapper.ProdMapper">
	<select id="prodList4">
  		<![CDATA[
		SELECT b.*
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT pdt.pdt_id, pdt.cat_id, pdt.subcat_id, pdt.brd_id, pdt.gender_id,
			  pdt.pdt_nm, pdt.pdt_price, pdt.pdt_img, pdt.pdt_views, brd.brd_nm
			  FROM product pdt
			  left outer join brand brd on pdt.brd_id = brd.brd_id
			  where pdt.subcat_id = #{subcat_id}
			  ORDER BY pdt.pdt_id) a
			  WHERE ROWNUM <= ${page} * 9) b
		WHERE b.rn > (${page} - 1) * 9
		]]>
	</select>
	
	<select id="prodList3">
		<![CDATA[
		SELECT b.*
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT pdt.pdt_id, pdt.cat_id, pdt.subcat_id, pdt.brd_id, pdt.gender_id,
			  pdt.pdt_nm, pdt.pdt_price, pdt.pdt_img, pdt.pdt_views, brd.brd_nm
			  FROM product pdt
			  left outer join brand brd on pdt.brd_id = brd.brd_id
			  where pdt.cat_id = #{cat_id}
			  ORDER BY pdt.pdt_id) a
			  WHERE ROWNUM <= ${page} * 9) b
		WHERE b.rn > (${page} - 1) * 9
		]]>
	</select>
	
	<select id="prodList2">
		<![CDATA[
		SELECT b.*
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT pdt.pdt_id, pdt.cat_id, pdt.subcat_id, pdt.brd_id, pdt.gender_id,
			  pdt.pdt_nm, pdt.pdt_price, pdt.pdt_img, pdt.pdt_views, brd.brd_nm
			  FROM product pdt
			  left outer join brand brd on pdt.brd_id = brd.brd_id
			  where pdt.gender_id = #{genderId}
			  ORDER BY pdt.pdt_id) a
			  WHERE ROWNUM <= ${page} * 9) b
		WHERE b.rn > (${page} - 1) * 9
		]]>
	</select>
	
	<select id="prodList"> <!-- 상품리스트 -->
		<![CDATA[
		SELECT b.*
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT pdt.pdt_id, pdt.cat_id, pdt.subcat_id, pdt.brd_id, pdt.gender_id,
			  pdt.pdt_nm, pdt.pdt_price, pdt.pdt_img, pdt.pdt_views, brd.brd_nm
			  FROM product pdt
			  left outer join brand brd on pdt.brd_id = brd.brd_id
			  ORDER BY pdt.pdt_id) a
			  WHERE ROWNUM <= ${page} * 9) b
		WHERE b.rn > (${page} - 1) * 9
		]]>
	</select>
	
	<select id="catList" parameterType="int">
		select * from categories
	</select>

	<select id="subcatList" parameterType="int">
		select * from sub_category
		where cat_id = #{catId}
	</select>

	<select id="brdList" parameterType="int">
		select * from brand
	</select>
	
	<select id="genderList" parameterType="int">
		select * from gender
	</select>

	<insert id="insertProd" parameterType="product">
		insert into product
		(pdt_id, cat_id, subcat_id, pdt_nm, pdt_price, pdt_img)
		values(product__seq.nextval, #{catId}, #{subcatId},
		#{pdtPrice},
		#{pdtImg}, #{pdtBrand})
	</insert>

	<delete id="deleteProd" parameterType="int">
		delete from product where
		pdt_id=#{pdtId}
	</delete>

	<update id="updateProd" parameterType="product">
		update product set
		pdt_nm=#{pdtNm}, pdt_price=#{pdtPrice}, pdt_img=#{pdtImg},
		pdt_brand=#{pdtBrand} where pdt_id=#{pdtId}
	</update>

	<select id="searchProd" parameterType="int">
		select * from product
		where pdt_id=#{pdtId}
	</select>

	<update id="updateViews" parameterType="int">
		update product set
		pdtViews=hit_count+1 where pdt_id=#{pdtId}
	</update>

	<select id="getViews" resultType="int">
		select count(*) from product
	</select>

</mapper>