<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.product.mapper.ProdMapper">
	<select id="prodList" resultType="product">
  		<![CDATA[
		SELECT b.*
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT * FROM product
					ORDER BY 1 DESC) a
			  WHERE ROWNUM <= ${page} * 10) b
		WHERE b.rn > (${page} - 1) * 10
		]]>
	</select>

	<insert id="insertProd" parameterType="product">
		insert into product
		(pdt_id, cat_id, subcat_id, pdt_nm, pdt_price, pdt_img, pdt_brand)
		values(product__seq.nextval, #{catId}, #{subcatId}, #{pdtNm},
		#{pdtPrice}, #{pdtImg}, #{pdtBrand})
	</insert>

	<delete id="deleteProd" parameterType="int">
		delete from product where
		pdt_id=#{pdtId}
	</delete>

	<update id="updateProd" parameterType="product">
		update product set
		pdt_nm=#{pdtNm}, pdt_price=#{pdtPrice}, pdt_img=#{pdtImg},
		pdt_brand=#{pdtBrand} where pdt_id=#{pdtId}
	</update>

	<select id="searchProd" parameterType="int">
		select * from product
		where pdt_id=#{pdtId}
	</select>

	<update id="updateViews" parameterType="int">
		update product set
		pdtViews=hit_count+1 where pdt_id=#{pdtId}
	</update>

	<select id="getViews" resultType="int">
		select count(*) from product
	</select>

</mapper>