<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.wish.mapper.WishMapper">
	<!-- 관심상품 목록 출력 -->
	<select id="wishList" resultType="com.yedam.wish.domain.WishVO">
	select w.wish_id, p.pdt_id, p.pdt_nm, p.pdt_price
	from wish_lists w
	join product p ON w.pdt_id = p.pdt_id
	where w.user_id = #{userId}
	</select>
	<!-- db컬럼명-java변수명 이름매칭 -->	
	<resultMap id="wishResultMap" type="com.yedam.wish.domain.WishVO">
    <id property="wishId" column="wish_id"/>
    <result property="userId" column="user_id"/>
    <result property="pdtId" column="pdt_id"/>
    <result property="wishDate" column="wish_date"/>
    <result property="pdtNm" column="pdt_nm"/>
    <result property="pdtImg" column="pdt_img"/>
    <result property="pdtPrice" column="pdt_price"/>
</resultMap>
	
</mapper>